parameters:
    phpVersion: 70400
    level: 5
    treatPhpDocTypesAsCertain: false

    bootstrapFiles:
        - phpstan-bootstrap.php

    paths:
        - .

    excludePaths:
        analyse:
            - admin/dev/node_modules
            - vendor

    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - stubs/php74-polyfill.php

    stubFiles:
        - stubs/woocommerce.stub.php